.modificaciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  border-radius: 5px;
  padding: 12px 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.53);
  color: #fff;
  cursor: pointer;
}

.Add {
  background-color: rgb(80, 172, 19);
}
.Delete {
  background-color: rgb(19, 98, 172);
}
.Mod {
  background-color: rgb(247, 118, 12);
}
.Erease {
  background-color: rgb(172, 19, 96);
}

.table-responsive{
    margin: 35px auto;
    width: 92%;
    height: 250px;
}